torch==2.0.1
torchtext==0.14.1
spacy==3.5.3
onnx==1.14.0
onnxruntime==1.15.1
qonnx==0.3.3
brevitas==0.8.0
nltk==3.8.1
sacremoses==0.0.53
numpy==1.24.3
pandas==2.0.3
altair==5.0.1
tqdm==4.65.0
gputil==1.4.0
datasets==2.13.1
